*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.sectionFirst{
    width: 1327px;
    margin: 0 auto;
}
.blocksWrapperRow{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin: 0 3% 50px;
    justify-content: space-between;
    /* flex-wrap: wrap;
    row-gap: 50px; */
}

.blocksWrapperRow:nth-child(2) .item,
.blocksWrapperRow:nth-child(3) .item{
    height: 362px;
}

.blocksWrapperRow:last-child{
    margin-bottom: 120px;
}

.blocksWrapperRow .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EAECE3;
    border: 1px solid #B0B59E;
    padding: 20px 25px;
    flex-basis: 380px;
    border-radius: 30px;
    row-gap: 15px;
    min-height: 218px;
}

.blocksWrapperRow .item .top{
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
}

.blocksWrapperRow .item .top .icon{
    background-color: #fff;
    border-radius: 22px;
    width: 74px;
    min-width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocksWrapperRow .item .top .icon img{
    width: 50px;
}

.blocksWrapperRow .item .bottom{
    font-family: 'Open Sans';
}

.blocksWrapperRow .item .bottom ul{
    list-style-type: none;

}

.blocksWrapperRow .item .bottom ul li{
    margin: 10px 0;
}

.blocksWrapperRow .item .top .text{
    font-family: unbounded;
    font-size: 18px;
    padding-top: 10px;
}


