@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Unbounded:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sliderCanvas{
    width: 100%;
    height: calc(100vh / 2.5);
    background: url('Location/1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.sliderCanvas p{
    font-size: 40px;
    font-family: Unbounded;
    color: #fff;
    font-weight: 300;
}

.textContenWarpper{
    margin: 65px 4%;
}
.titleTxt{
    font-size: 36px;
    font-family: unbounded;
    font-weight: 100;
}.titleTxtBold{
    font-size: 36px;
    font-family: unbounded;
    font-weight: 300;
}
.descrTxt {
    width: 75%;
    padding: 35px 0;
    line-height: 24px;
    font-family: 'open sans';
}

.divider{
    margin: 0 4%;
    border:1px solid #898989;
    margin-bottom: 41px;
}

/* map section */
.embedMap {
    width: 100%;
    height: 650px;
}


.locationTxt i {
    font-weight: 600;
    transform: rotate(-45deg);
    margin-left: 10px;
}

.mapContainer .txtBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: flex-end;
}

.mapContainer {
    padding: 0 4%;
    padding-top: 60px;
    position: relative;
}

.mapContainer .locationTxt {
    background: #EAECE3;
    padding: 11px 17px;
    border-radius: 24px;
    cursor: pointer;
    display: none;
}

.txtBlock p{
    font-family: unbounded;
    font-size: 20px;
}

.mapBlock {
    width: 100%;
    height: 450px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
}

.distanceSection{
    margin: 0 4%;
    margin-bottom: 113px;
}

.distanceSection .disTitleText{
    font-family: unbounded;
    font-size: 20px;
    margin-bottom: 50px;
}

.iconWrapperRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 70px;
}
.iconWrapperRow .item{
    flex: 1 1 0;
    height: 176px;
    border-radius: 40px;
    background-color: #EAECE3;
    position: relative;
    border: 1px solid #B0B59E;
}


.item .textElem{
    bottom: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    flex-direction: column;
    width: 100%;
}

.item .textElem .service{
    font-family: 'open sans';
    font-weight: bold;
    color: #1E4F4C;
    text-align: center;
}

.item .textElem .time{
    font-family: 'open sans';
    font-weight:400;
    color: #1E4F4C;
}

.iconElem{
    text-align: center;
}

.iconElem img{
    width: 80px;
    padding-top: 19px;
}